
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#060816;
  color:white;
  display:flex;
  min-height:100vh;
  overflow:hidden;
}

.bg-glow{
  position:fixed;
  width:500px;
  height:500px;
  background:radial-gradient(circle,#9b4dff55,transparent);
  top:-100px;
  right:-100px;
  z-index:0;
}

.sidebar{
  width:260px;
  background:rgba(20,20,35,0.9);
  backdrop-filter:blur(20px);
  border-right:1px solid rgba(255,255,255,0.08);
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.logo{
  font-size:28px;
  font-weight:bold;
  color:#b57cff;
  margin-bottom:25px;
}

.new-chat{
  background:linear-gradient(90deg,#8a2be2,#c84dff);
  border:none;
  color:white;
  padding:12px;
  border-radius:14px;
  cursor:pointer;
  margin-bottom:25px;
}

.menu-item{
  padding:14px;
  margin-bottom:10px;
  border-radius:12px;
  background:rgba(255,255,255,0.04);
  cursor:pointer;
  transition:0.3s;
}

.menu-item:hover,.active{
  background:#a855f7;
}

.bottom{
  margin-top:20px;
}

.premium{
  background:linear-gradient(90deg,#7b2ff7,#d946ef);
  padding:12px;
  border-radius:12px;
  text-align:center;
}

.chat-area{
  flex:1;
  display:flex;
  flex-direction:column;
  padding:30px;
  position:relative;
  z-index:1;
}

header h1{
  font-size:42px;
  background:linear-gradient(90deg,#ffffff,#c084fc);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

header p{
  margin-top:8px;
  color:#bbb;
}

.chat-box{
  flex:1;
  margin-top:25px;
  overflow-y:auto;
  padding-right:10px;
}

.message{
  padding:14px 18px;
  border-radius:16px;
  margin-bottom:15px;
  max-width:75%;
}

.ai{
  background:#1d1733;
  border:1px solid #7b2ff7;
}

.user{
  background:#8a2be2;
  margin-left:auto;
}

.upload-row{
  display:flex;
  gap:12px;
  margin-bottom:15px;
}

.upload-btn,.voice-btn{
  background:#171727;
  border:1px solid #5b21b6;
  color:white;
  padding:10px 14px;
  border-radius:12px;
  cursor:pointer;
}

.input-area{
  display:flex;
  gap:12px;
}

.input-area input{
  flex:1;
  padding:16px;
  border:none;
  border-radius:16px;
  background:#121222;
  color:white;
  outline:none;
}

.input-area button{
  width:60px;
  border:none;
  border-radius:16px;
  background:linear-gradient(90deg,#8a2be2,#d946ef);
  color:white;
  font-size:22px;
  cursor:pointer;
}

::-webkit-scrollbar{
  width:6px;
}

::-webkit-scrollbar-thumb{
  background:#7b2ff7;
  border-radius:10px;
}
