
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#050816;
  color:white;
  overflow:hidden;
}

.bg1{
  position:fixed;
  width:500px;
  height:500px;
  background:#7c3aed55;
  filter:blur(140px);
  top:-150px;
  left:-100px;
}

.bg2{
  position:fixed;
  width:400px;
  height:400px;
  background:#d946ef44;
  filter:blur(140px);
  bottom:-120px;
  right:-100px;
}

.app{
  display:flex;
  height:100vh;
}

.sidebar{
  width:260px;
  background:rgba(15,15,25,0.85);
  backdrop-filter:blur(20px);
  border-right:1px solid rgba(255,255,255,0.08);
  padding:24px;
}

.logo{
  font-size:30px;
  font-weight:bold;
  margin-bottom:30px;
  color:#d8b4fe;
}

.new-chat{
  width:100%;
  padding:14px;
  border:none;
  border-radius:16px;
  background:linear-gradient(90deg,#7c3aed,#d946ef);
  color:white;
  font-size:15px;
  cursor:pointer;
  margin-bottom:30px;
}

.menu-item{
  padding:15px;
  border-radius:14px;
  margin-bottom:12px;
  background:rgba(255,255,255,0.04);
  cursor:pointer;
}

.active{
  background:#9333ea;
}

.chat-container{
  flex:1;
  display:flex;
  flex-direction:column;
  padding:25px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.topbar h1{
  font-size:42px;
  background:linear-gradient(90deg,#fff,#d8b4fe);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.topbar p{
  color:#aaa;
  margin-top:5px;
}

.status{
  background:#1f2937;
  padding:10px 18px;
  border-radius:30px;
  color:#86efac;
}

.chat-box{
  flex:1;
  overflow-y:auto;
  padding-right:8px;
}

.message{
  display:flex;
  margin-bottom:20px;
}

.user{
  justify-content:flex-end;
}

.bubble{
  max-width:75%;
  padding:18px;
  border-radius:20px;
  line-height:1.6;
}

.ai .bubble{
  background:#141426;
  border:1px solid #9333ea;
}

.user .bubble{
  background:linear-gradient(90deg,#7c3aed,#d946ef);
}

.bottom-area{
  margin-top:20px;
}

.tools{
  display:flex;
  gap:12px;
  margin-bottom:15px;
}

.tool-btn{
  width:50px;
  height:50px;
  border:none;
  border-radius:16px;
  background:#141426;
  color:white;
  font-size:18px;
  border:1px solid #7e22ce;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
}

.input-box{
  display:flex;
  gap:14px;
}

.input-box input{
  flex:1;
  background:#111827;
  border:none;
  outline:none;
  color:white;
  padding:18px;
  border-radius:18px;
  font-size:15px;
}

.input-box button{
  width:65px;
  border:none;
  border-radius:18px;
  background:linear-gradient(90deg,#7c3aed,#d946ef);
  color:white;
  font-size:20px;
  cursor:pointer;
}

::-webkit-scrollbar{
  width:5px;
}

::-webkit-scrollbar-thumb{
  background:#9333ea;
  border-radius:20px;
}
